<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<!-- Turn on for trace diagnostics
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Application.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
-->
	<system.web>
		<httpHandlers>
			<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
	<!-- Required for IIS 7.0 (and above?) -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add path="*" name="ServiceStack.Factory"
				 type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"
				 preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IQuicDispatchInterface"
						 receiveTimeout ="00:10:00"
							sendTimeout ="00:10:00"
						 closeTimeout ="00:10:00"/>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_IQuicDispatchInterface">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8888/Soap" binding="netTcpBinding"
					  bindingConfiguration="NetTcpBinding_IQuicDispatchInterface"
					  contract="ResourceManager.IQuicDispatchInterface" name="NetTcpBinding_IQuicDispatchInterface" />
			<endpoint address="http://localhost:8080/Soap" binding="basicHttpBinding"
					  bindingConfiguration="BasicHttpBinding_IQuicDispatchInterface"
					  contract="ResourceManager.IQuicDispatchInterface" name="BasicHttpBinding_IQuicDispatchInterface" />
		</client>
	</system.serviceModel>
</configuration>