<#@ template language="C#" inherits="SwapLeg" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="Quic.FPML" #>
<# 
  // Run the base template:
  base.TransformText();
#>
<#+
protected override void GetType()
{
#>
	strType, S, CouponFixed
<#+
}
protected override void LegDetails()
{
#>
	arFixedRate, AR, <#= arFixedRate 
#><#+
}
#>
