<#@ template language="C#"  inherits="SwapLeg" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="Quic.FPML" #>
<# 
  // Run the base template:
  base.TransformText();
#>
<#+
protected override void GetType()
{
#>
	strType, S, CouponFloat
<#+
}
protected override void LegDetails()
{
#>
	adtFixing, AD, <#= adtFixing #>
	mpObservable, L, <#= mpObservable #>
	arPastFixing, AR,  <#= arPastFixing #>
	arLeverage, AR,  <#= arLeverage 
	#><#+
}
#>
